@import url("https://ryj9d86xjh.execute-api.ap-northeast-2.amazonaws.com/v1/api/css/drop_fontstream_css/?sid=gAAAAABnYvMyKhNJ3bXwiPuHWQ7MMQ0KL-xv4opNXl4rrC1Q9qeBWIpljWSlc1icFOOa10yG8VhSI_SNaUsRdzGexIQFhU4atXQObAWdcPndvsK3qJbs4kb58Ow4y0rZVOWLbQYxHdgITyt4QkH1t8LtzJ12FDimtUNJHjykoFSGRRzSI5aWd5yG4iUTZwTi3p_Y7mSbr4jzfIc4C427w_CqSI_n_8MdMCCFHr9PwRiRQqMR8ifU02meorv9RmalCVWwxSWEsymw");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #F8F4F2;
  --foreground: #171717; /* text-neutral-900 */
}

/* does not support dark mode yet */
/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}
